/* css styles */
.navbar {
    background-color: #004466 !important;  /* Dark Blue */
    a {
        color: white !important;
      }
  }
a {
color: #004466 !important;  /* Orange */
text-decoration: none;  /* Remove underline */
}